@tailwind base;
@tailwind components;
@tailwind utilities;

/* make your tailwind components in this document */

@layer components {
  .reg-button {
    @apply bg-black
        rounded-[9px]
        text-white
        px-6
        py-2
        text-xs
        font-semibold
        font-sans /* Default font AKA montserrat */
        hover:bg-dark-charcoal
        focus:text-black
        focus:bg-white
        focus:outline-none
        focus:ring
        focus:ring-black;
  }
  .alt-button {
    @apply bg-sunset-red
        rounded-[9px]
        text-white
        px-2
        pb-1
        pt-2
        text-xs
        font-semibold
        font-justAnotherHand
        hover:bg-hover-red
        active:bg-alt-hover-red
        focus:outline-none
        focus:ring
        focus:ring-black;
  }
  .our-work-hero-button {
    @apply bg-primary-green
        rounded-md
        text-ivory-beige
        border
        border-solid
        border-black
        min-w-[76px]
        h-[68px]
        text-[8px]
        font-medium
        text-center;
  }
  .meet-the-children-pageButton {
    @apply bg-cerebral-grey
        rounded-md
        text-black
        font-inter
        font-medium
        text-center
        text-lg
        px-4
        py-2;
  }
}

/* Hide the default search input clear button */
.search-drawer_input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Language selection animation */

#language-options {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s, max-height 0.5s ease;
  position: absolute;
  left: 0;
}

.group:hover #language-options {
  opacity: 1;
  max-height: 200px;
}

/* Border radius for input fields */
.rounded-ib {
  border-radius: 10px;
}

/* Custom drop-shadow color for image frames */
.red-shadow {
  box-shadow: 10px 10px 4px 0px #ee6352;
}

.blue-shadow {
  box-shadow: 10px 10px 4px 0px #66c3ff;
}

.scroll-content::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.newsletter::placeholder {
  color: rgba(0, 0, 0, 0.7);
}
