@tailwind base;
@tailwind components;
@tailwind utilities;

/* make your tailwind components in this document */

@layer components {
  .reg-button {
    @apply bg-white
        rounded-md
        text-black
        px-2
        py-1
        text-xs
        font-semibold
        font-sans /* Default font AKA montserrat */;
  }
  .alt-button {
    @apply bg-[#EE6352] /*TODO: change to correct color later.*/
        rounded-md
        text-white
        px-2
        pb-1
        pt-2
        text-xs
        font-semibold
        font-justAnotherHand;
  }
}

/* Hide the default search input clear button */
.search-drawer_input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Language selection animation */

#language-options {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s, max-height 0.5s ease;
  position: absolute;
  left: 0;
  background-color: white;
}

.group:hover #language-options {
  opacity: 1;
  max-height: 200px;
}
