<header class="flex h-24 items-center justify-between px-10 mt-6">
  <div class="flex flex-row items-center gap-10 text-base">
    <a href="/">
      <img
        src="/assets/images/SVGs/headerLogo.svg"
        aria-label="Header Logo"
        alt="Header Logo"
        class="cursor-pointer w-20 h-20" />
    </a>
  </div>
  <nav class="flex flex-row items-center gap-10">
    <button id="openSearchBarDrawer" class="flex gap-4 items-center cursor-pointer hover:scale-105 transition-transform">
      <img
        src="/assets/images/SVGs/Search.svg"
        class="w-5 h-5 -mr-1"
        aria-label="Search Button"
        alt="Search Button" />
      <span class="text-2xl font-medium">Search</span>
    </button>
    <div
      id="search-drawer-from-header"
      aria-expanded="false"
      class="fixed border border-black top-0 right-0 w-full h-16 bg-white transform -translate-y-full transition-all duration-500 ease-out z-50"
      aria-label="search-bar">
      <h2 id="search-label" class="sr-only">Search Bar</h2>
      <div class="flex justify-center items-center pt-3">
        <div class="w-full max-w-lg mx-auto border border-black bg-gray-100 flex items-center">
          <form class="relative flex flex-grow">
            <label for="Search-Drawer" class="sr-only">Search Site</label>
            <input
              tabindex="-1"
              type="search"
              class="search-drawer_input flex-grow bg-transparent focus:outline-none p-2 text-sm"
              id="Search-Drawer"
              placeholder="Search..."
              autocomplete="off" />
            <button
              tabindex="-1"
              type="submit"
              class="search-drawer_submit p-2 text-gray-500 flex items-center justify-center">
              <img
                src="/assets/images/SVGs/Search.svg"
                class="w-4 h-4"
                aria-label="Search Now Button"
                alt="Search Now Button" />
            </button>
            <div
              hidden
              id="search-results"
              class="absolute w-96 top-10 bg-white border rounded-sm"></div>
          </form>
        </div>
        <button
          tabindex="-1"
          id="closeSearchBarDrawer"
          class="search-drawer_close text-sm pr-5">Close</button>
      </div>
    </div>
    <a href="/news" class="text-2xl font-medium cursor-pointer hover:scale-105 transition-transform">News</a>
    <a href="/pages/about-page.html" class="text-2xl font-medium cursor-pointer hover:scale-105 transition-transform">About Us</a>
    <div class="relative cursor-pointer hover:scale-105 transition-transform">
      <div class="flex items-center">
        <span class="text-2xl font-medium">More</span>
        <img
          src="/assets/images/SVGs/chevron-down.svg"
          aria-label="Projects Dropdown Menu"
          alt="Projects Dropdown Menu"
          class="ml-3" />
      </div>
      <div class="absolute hidden mt-2 bg-white">
        <a href="#" class="block p-2 border-t border-b border-black hover:bg-gray-100">Project 1</a>
        <a href="#" class="block p-2 border-b border-black hover:bg-gray-100">Project 2</a>
      </div>
    </div>
    <button class="alt-button cursor-pointer text-white transition-transform hover:scale-110 w-[148px] h-[49px] text-2xl font-normal">
      DONATE
    </button>
    <div class="relative flex w-5 h-5 items-center group" id="language-selector">
      <img
        src="/assets/images/SVGs/globe-solid.svg"
        aria-label="Globe Icon For Language Selection"
        alt="Language Selection"
        class="cursor-pointer object-contain h-5 w-5" />
      <div class="absolute left-0 w-full bg-white" id="language-options">
        <a href="#" class="block">
          <img
            src="/assets/images/SVGs/norway.svg"
            aria-label="Norwegian Flag Language Selection"
            alt="Norwegian Flag"
            class="inline h-6 w-8" />
        </a>
        <a href="#" class="block">
          <img
            src="/assets/images/SVGs/unitedKingdom.svg"
            aria-label="English Flag Language Selection"
            alt="English Flag"
            class="inline h-6 w-8" />
        </a>
        <a href="#" class="block">
          <img
            src="/assets/images/SVGs/madagascar.svg"
            aria-label="Malagasy Flag Language Selection"
            alt="Malagasy Flag"
            class="inline h-6 w-8" />
        </a>
      </div>
    </div>
  </nav>
</header>