backend:
  name: github
  repo: NoroffFEU/musikkforandrerliv.no
  branch: 719-Decap-CMS # Change to main ???
  local_backend: true

media_folder: "public/assets/images"

collections:
  - name: "pages"
    label: "Pages"
    files:
      - file: "src/data/home.json"
        name: "home"
        label: "Home Page"
        fields:
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Intro", name: "intro", widget: "markdown" }
  - label: "Blog"
    name: "blog"
    folder: "public/admin/_posts" # Temporary path
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" } # Placeholder field - add necessary fields

  - label: "Gallery"
    name: "gallery"
    folder: "content/gallery"
    create: true
    slug: "{{slug}}"
    fields: []


  # Add more collections as needed based on your content structure
