@import 'tailwindcss';
@import './fonts/font.css';

@layer base {
  :root {
    --color-sunset-red: #ee6352;
    --color-primary-green: #5b8e7d;
    --color-mint-green: #b2cac2;
    --color-ivory-beige: #f8eed1;
    --color-dark-green: #363732;
    --color-alt-red: #81362c;
    --color-alt-forest-green: #304b42;
    --color-alt-light-red: #f1dbd3;
    --color-light-red: #fce2db;
    --color-hover-red: #f28077;
    --color-alt-hover-red: #be4e43;
    --color-light-green: #b2cac2;
    --color-dark-charcoal: #333333;
    --color-cerebral-grey: #cccccc;
    --color-custom-gray: rgba(54, 55, 50, 1);

    --font-sans: Montserrat, sans-serif;
    --font-justAnotherHand: 'Just Another Hand', sans-serif;
    --font-freeman: "Freeman", sans-serif;
  }
}
