
name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the dev branch
  push:
    branches: [ dev ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      contents: write
      deployments: write

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          # Version Spec of the version to use.  Examples: 12.x, 10.15.1, >=10.15.0
          node-version: 20
      - run: npm ci
      
      - run: npm run build --if-present
      
      - run: npm test
      
      - name: Deploy to GitHub Pages
        # You may pin to the exact commit or the version.
        # uses: NoroffFEU/github-pages-deploy-action@164583b9e44b4fc5910e78feb607ea7c98d3c7b9

        uses: JamesIves/github-pages-deploy-action@v4

        with:
          # This is the branch you wish to deploy to, for example gh-pages or docs.
          branch: dev
          # The folder in your repository that you want to deploy. If your build script compiles into a directory named build you would put it here. Folder paths cannot have a leading / or ./. If you wish to deploy the root directory you can place a . here.
          folder: .
